<html>
  <head>
    <title>Basic application with Sinatra using Rspec and Guard</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>Hello World, View Template Edition</h1>

    <h3>It's <%= now %></h3>

    <h5>Developed by <a href="http://github.com/eltonsantos" target="blank">Elton Santos</a></h5>
    
  </body>
</html>